In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from ydata_profiling import ProfileReport

In [2]:
file_path = '../data/data.csv' 
df_data = pd.read_csv(file_path)

df_data

,product_id,product_name,category,price,review_score,review_count,sales_month_1,sales_month_2,sales_month_3,sales_month_4,sales_month_5,sales_month_6,sales_month_7,sales_month_8,sales_month_9,sales_month_10,sales_month_11,sales_month_12
0,1,Product_1,Clothing,190.40,1.7,220,479,449,92,784,604,904,446,603,807,252,695,306
1,2,Product_2,Home & Kitchen,475.60,3.2,903,21,989,861,863,524,128,610,436,176,294,772,353
2,3,Product_3,Toys,367.34,4.5,163,348,558,567,143,771,409,290,828,340,667,267,392
3,4,Product_4,Toys,301.34,3.9,951,725,678,59,15,937,421,670,933,56,157,168,203
4,5,Product_5,Books,82.23,4.2,220,682,451,649,301,620,293,411,258,854,548,770,257
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Product_996,Home & Kitchen,50.33,3.6,494,488,359,137,787,678,970,282,155,57,575,634,393
996,997,Product_997,Home & Kitchen,459.07,4.8,701,18,906,129,78,19,110,403,683,104,858,729,474
997,998,Product_998,Sports,72.73,1.3,287,725,109,193,657,215,337,664,476,265,344,888,654
998,999,Product_999,Sports,475.37,1.2,720,196,191,315,622,854,122,65,938,521,268,60,394
999,1000,Product_1000,Toys,225.77,2.1,114,890,903,983,769,134,704,648,400,495,839,611,110

In [3]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   product_id      1000 non-null   int64
 1   product_name    1000 non-null   object
 2   category        1000 non-null   object
 3   price           1000 non-null   float64
 4   review_score    1000 non-null   float64
 5   review_count    1000 non-null   int64
 6   sales_month_1   1000 non-null   int64
 7   sales_month_2   1000 non-null   int64
 8   sales_month_3   1000 non-null   int64
 9   sales_month_4   1000 non-null   int64
 10  sales_month_5   1000 non-null   int64
 11  sales_month_6   1000 non-null   int64
 12  sales_month_7   1000 non-null   int64
 13  sales_month_8   1000 non-null   int64
 14  sales_month_9   1000 non-null   int64
 15  sales_month_10  1000 non-null   int64
 16  sales_month_11  1000 non-null   int64
 17  sales_month_12  1000 non-null   int64
dtypes: float64(2), int64(14), object(2)
memory usage: 140.8+ KB

In [4]:
df_data.describe().T

,count,mean,std,min,25%,50%,75%,max
product_id,1000.0,500.50000,288.819436,1.00,250.75,500.50,750.250,1000.00
price,1000.0,247.67713,144.607983,7.29,121.81,250.92,373.435,499.86
review_score,1000.0,3.02760,1.171243,1.00,2.00,3.10,4.000,5.00
review_count,1000.0,526.50600,282.269932,1.00,283.75,543.00,772.000,999.00
sales_month_1,1000.0,498.30600,289.941478,0.00,245.50,507.50,740.750,1000.00
sales_month_2,1000.0,507.66100,285.992689,2.00,262.50,508.00,756.250,1000.00
sales_month_3,1000.0,506.73900,294.010873,0.00,243.75,493.00,777.250,999.00
sales_month_4,1000.0,503.82300,286.645567,0.00,261.50,501.50,749.500,1000.00
sales_month_5,1000.0,487.19400,287.844324,0.00,221.00,497.00,727.000,1000.00
sales_month_6,1000.0,491.65300,289.234018,0.00,236.00,479.50,740.500,1000.00
sales_month_7,1000.0,507.01100,291.047287,0.00,254.00,522.50,757.250,1000.00
sales_month_8,1000.0,504.56900,289.945691,5.00,240.50,499.50,762.250,1000.00
sales_month_9,1000.0,491.93400,287.514731,0.00,247.25,495.50,735.250,1000.00
sales_month_10,1000.0,514.79800,288.710119,1.00,267.00,532.00,770.250,1000.00
sales_month_11,1000.0,505.83800,288.824510,0.00,251.25,502.00,761.000,1000.00
sales_month_12,1000.0,500.38600,278.509459,4.00,259.00,500.50,730.000,1000.00

In [5]:
df_data.shape

(1000, 18)

In [6]:
df_data.head()

,product_id,product_name,category,price,review_score,review_count,sales_month_1,sales_month_2,sales_month_3,sales_month_4,sales_month_5,sales_month_6,sales_month_7,sales_month_8,sales_month_9,sales_month_10,sales_month_11,sales_month_12
0,1,Product_1,Clothing,190.40,1.7,220,479,449,92,784,604,904,446,603,807,252,695,306
1,2,Product_2,Home & Kitchen,475.60,3.2,903,21,989,861,863,524,128,610,436,176,294,772,353
2,3,Product_3,Toys,367.34,4.5,163,348,558,567,143,771,409,290,828,340,667,267,392
3,4,Product_4,Toys,301.34,3.9,951,725,678,59,15,937,421,670,933,56,157,168,203
4,5,Product_5,Books,82.23,4.2,220,682,451,649,301,620,293,411,258,854,548,770,257

In [7]:
df_data.isnull().sum()

product_id        0
product_name      0
category          0
price             0
review_score      0
review_count      0
sales_month_1     0
sales_month_2     0
sales_month_3     0
sales_month_4     0
sales_month_5     0
sales_month_6     0
sales_month_7     0
sales_month_8     0
sales_month_9     0
sales_month_10    0
sales_month_11    0
sales_month_12    0
dtype: int64

In [8]:
print('Check duplicated:')
df_data.duplicated().sum()

Check duplicated:

np.int64(0)

In [9]:
df_data.dtypes

product_id          int64
product_name       object
category           object
price             float64
review_score      float64
review_count        int64
sales_month_1       int64
sales_month_2       int64
sales_month_3       int64
sales_month_4       int64
sales_month_5       int64
sales_month_6       int64
sales_month_7       int64
sales_month_8       int64
sales_month_9       int64
sales_month_10      int64
sales_month_11      int64
sales_month_12      int64
dtype: object

In [10]:
df_data.columns

Index(['product_id', 'product_name', 'category', 'price', 'review_score',
       'review_count', 'sales_month_1', 'sales_month_2', 'sales_month_3',
       'sales_month_4', 'sales_month_5', 'sales_month_6', 'sales_month_7',
       'sales_month_8', 'sales_month_9', 'sales_month_10', 'sales_month_11',
       'sales_month_12'],
      dtype='object')

In [15]:
df_data['category'].unique()

array(['Clothing', 'Home & Kitchen', 'Toys', 'Books', 'Electronics',
       'Health', 'Sports'], dtype=object)

In [ ]:
df_data['category'].value_counts()

category
Books             154
Sports            153
Toys              151
Clothing          140
Health            139
Electronics       138
Home & Kitchen    125
Name: count, dtype: int64

In [ ]:
from pandas_profiling import ProfileReport
profile = ProfileReport(df_data, title="Report")
profile

## Sales analysis by month

### 1. Аналіз продажів по місяцях

- В які місяці кращі та гірші продажі?
- Чи є сезонні тренди?
- Які категорії мають стабільні продажі протягом року?

 Список колонок з місячними продажами

In [11]:
# Список колонок з місячними продажами

monthly_columns = [f'sales_month_{i}' for i in range(1, 13)]
monthly_columns

['sales_month_1',
 'sales_month_2',
 'sales_month_3',
 'sales_month_4',
 'sales_month_5',
 'sales_month_6',
 'sales_month_7',
 'sales_month_8',
 'sales_month_9',
 'sales_month_10',
 'sales_month_11',
 'sales_month_12']

In [12]:
# Сумарні продажі по кожному місяцю

monthly_sales = df_data[monthly_columns].sum()
monthly_sales

sales_month_1     498306
sales_month_2     507661
sales_month_3     506739
sales_month_4     503823
sales_month_5     487194
sales_month_6     491653
sales_month_7     507011
sales_month_8     504569
sales_month_9     491934
sales_month_10    514798
sales_month_11    505838
sales_month_12    500386
dtype: int64

In [13]:
monthly_sales_df = monthly_sales.reset_index()
monthly_sales_df.columns = ['month', 'total_sales']
monthly_sales_df['month'] = monthly_sales_df['month'].str.replace('sales_month_', 'Month ')

monthly_sales_df

       month  total_sales
0    Month 1       498306
1    Month 2       507661
2    Month 3       506739
3    Month 4       503823
4    Month 5       487194
5    Month 6       491653
6    Month 7       507011
7    Month 8       504569
8    Month 9       491934
9   Month 10       514798
10  Month 11       505838
11  Month 12       500386

In [14]:
# Сортування для пошуку найвищих/найнижчих

monthly_sales_sorted = monthly_sales_df.sort_values(by='total_sales', ascending=False)
monthly_sales_sorted

       month  total_sales
9   Month 10       514798
1    Month 2       507661
6    Month 7       507011
2    Month 3       506739
10  Month 11       505838
7    Month 8       504569
3    Month 4       503823
11  Month 12       500386
0    Month 1       498306
8    Month 9       491934
5    Month 6       491653
4    Month 5       487194

In [ ]:
plt.figure(figsize=(10, 6))
sns.barplot(data=monthly_sales_sorted, x='month', y='total_sales', palette='viridis')
plt.title("Total sales by month Сумарні продажі по кожному місяцю")
plt.ylabel("Sales")
plt.xlabel("Month")
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

In [ ]:
df_data.head()

In [ ]:
df_data.shape

In [ ]:
df_data['total_sales'] = df_data[monthly_columns].sum(axis=1)

In [ ]:
df_data.head()

In [ ]:
category_sales = df_data.groupby('category')['total_sales'].sum().reset_index()
category_sales

In [ ]:
monthly_sales = df_data.groupby('category').sum().iloc[:, 5:17].reset_index()
monthly_sales